@import url('https://fonts.googleapis.com/css?family=Lato');
*{
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Lato', sans-serif;
	width: 100%; 
	font-size: 14px;
	color: #333;
	margin: 0;
	padding: 0;
}

header {
	height: 150px;
	background: url('images/header.jpg') no-repeat center;
	background-size: cover;

}
header h1 {
	font-size: 18px;
	color: #fff;
	text-align: center;
	line-height: 100px;
	}
main {
	padding-top: 20px;
	padding-left: 200px;
	padding-right: 200px;
	border: 1px solid black;
	margin: auto;
}
.content {
	display: inline-block;
}
article {
	width: 800px;
}
article img {
	width: 800px;
	height: 450px;
}
article p {
	font-size: 16px;
	text-align: left;
	padding-bottom: 10px;
}
h1 {
	padding-bottom: 20px;
	padding-top: 20px;
}
aside {
	width: 320px;
	float: right;
}
button {
	background: none;
	padding: 15px;
	width: 150px;
	border: 1px solid #ec5353;
	border-radius: 30px;
	color: #ec5353;
}
button:hover {
	background-color: #ec5353;
	color: #fff;
}
aside p {
	padding-top: 10px;
	padding-bottom: 20px;
}
aside img {
	height: 200px;
	width: 320px;
}