@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(https://fonts.gstatic.com/s/lato/v14/EsvMC5un3kjyUhB9ZEPPwg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}
* {
	margin: 0;
	padding: 0;
}
body{
	
	font-family: "Lato", sans-serif;
	margin: 0px;
	padding: 0px;
	color: #ffffff;
}

.container {

	background-image: url('images/background-image.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-position: center;
	text-align: center;
	background-size: cover;
	height: 800px;
	padding: 0px 10px;
	margin: auto;
	
}
h1 {
	font-size: 80px;
	padding: 80px 0px;
	letter-spacing: 8px;
	text-transform: uppercase;
}
p {
	font-size: 27px;
	font-weight: 100;
	margin: 20px;

}
.btn {
	margin-top: 40px;
	padding: 15px 40px;
	font-size: 16px;
	background: none;
	border:  2px solid #ffffff; 
	border-radius: 15px;
	color: #fff;
	
}

.btn:hover {
	background-color: black;
	border-color: black;
	cursor: pointer;
}