@import url('https://www.google.com/fonts#UsePlace:use/Collection:Vollkorn');

* {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Vollkorn', sans-serif;
	font-size: 16px;
	color: #72aeb4;
}
main {
	width: 1200px;
	margin: 50px auto;
}
main h1 {
	font-size: 34px;
	color: #000;
	margin-bottom: 30px;
}
main article {
	width: 100%;
	display: block;
	margin-left: 30px;
	height: 240px;
	/*border: 1px solid white; ne mi haresa - bez bordera ne iska H2 da mi sleze za 20px;*/
	margin-bottom: 0px;

}

main article figure {
	width: 350px;
	height: 200px;
	float: left;
	margin: 20px 20px 0 20px;
	border: 1px solid #dedede;
	

}

main article img {
	width: 94%;
	height: 90%;
	margin: 3%;
}
main article h2 { 
	padding: 20px 0 5px 0;
	font-weight: 300;
	font-size: 23px;
}
main article p {
	font-style: italic;
	color: #000;
	padding-bottom: 10px;
	font-size: 15px;
}
main article p+p {
	font-style: normal;
	padding: 10px 0 10px 0;
	font-size: 15px;
	text-align: justify;
}
main article a {
	color: #72aeb4;
	font-size: 15px;
	padding-top: 10px;
}
